<!DOCTYPE html>
<html>
<head>
  <title>Convert</title>
</head>
<body>
<h1>Convert <%= @code_one %> to <%= @code_two %> </h1>

<div>1 <%= @code_one %> equals <%= @rate %> <%= @code_two%>.
<p>Go <a href = "/<%= @code_one %>">back</a></p>
