<!DOCTYPE html>
<html>
<head>
  <title>First currency selected</title>
</head>

<body>
<h1>Convert <%= @code_one %> </h1>
<p>Go <a href = "/">back</a></p>

<ul>
  <% @currency.each do |code|%>
  <li>
    <a href = "/<%= @code_one %>/<%= code %>">Convert 1 <%= @code_one %> to <%= code %></a>
  </li>
  <% end %>
</ul>
</body>
</html>
